.custom-container {
    position: relative;
  }
  
  .custom-container::before {
    content: "";
    background-image: url("https://images.unsplash.com/photo-1552068751-34cb5cf055b3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1530&q=80"); /* Replace with your image path */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(4px); /* Adjust the blur amount as needed */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }